@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/rubik-v20-latin-regular.woff') format('woff');
  }
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/rubik-v20-latin-500.woff2') format('woff2'),
         url('../fonts/rubik-v20-latin-500.woff') format('woff');
  }

:root{
  --main-text-color-black : #242A45;
  --main-text-color-white : #FFFFFF;
  --main-buttom-color : #5267DF;
}

/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  /* line-height: var(--main-line-height); */
}

ul {
  list-style: none;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.site-main {
  flex-grow: 1;
}
.container{
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

img {
  display: block;
}

.header-box {
  padding: 50px 0px;
  display: flex;
  align-items: center;
}
.header-box__header-list {
  margin-left: auto;
  display: flex;
}
.header-list__items {
  margin-right: 48px;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #242A45;
}
.header-list__items:hover {
  color: #FA5959;
}
.header-list__items-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: var(--main-text-color-white);
  text-decoration: none;
  padding: 12px 32px;
  background-color: #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: 2px solid transparent;
}
.header-list__items-button:hover {
  color: #FA5959;
  background-color: #FFFFFF;
  border: 2px solid #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.s1-asimplebookmarkmanager {
  position: relative;
  padding: 115px 0px 100px 0px;
}
.s1-asimplebookmarkmanager__s1-left-box {
  width: 540px;
  position: relative;
}
.s1-asimplebookmarkmanager__s1-left-box::after {
  position: absolute;
  top: -26%;
  right: -235%;
  display: block;
  content: "";
  width: 1155px;
  height: 486px;
  background-image: url("../images/first.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.s1-left-box__h1 {
  margin: 0 0 24px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--main-text-color-black);
}
.s1-left-box__p {
  margin: 0 0 32px 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color-black);
  opacity: 0.5;
}
.s1-asimplebookmarkmanager__s1-button-box {
  width: 340px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.s1-button-box__left-button {
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: var(--main-text-color-white);
  background-color: var(--main-buttom-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.s1-button-box__left-button:hover {
  color: #5267DF;
  background-color: #FFFFFF;
  border: 2px solid #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.s1-button-box__right-button {
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: var(--main-text-color-black);
  background-color: #F7F7F7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: 2px solid transparent;
}
.s1-button-box__right-button:hover {
  color: var(--main-text-color-black);
  background-color: #FFFFFF;
  border: 2px solid #5B6074;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.s2-features-box {
  position: relative;
  padding: 100px 0px 75px 0px;
}
.s2-features-box__s2-intro-h2andp {
  width: 540px;
  margin: 0 auto;
}
.s2-intro-h2andp__h2 {
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--main-text-color-black);
}
.s2-intro-h2andp__p {
  margin: 0 0 72px 0;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--main-text-color-black);
  opacity: 0.5;
}
.s2-features-box__s2-midlle-list {
  margin-bottom: 20px;
  width: 730px;
  margin-left: auto;
  margin-bottom: 130px;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--main-text-color-black);
}
.s2-midlle-list__links {
  margin-left: 45px;
  margin-right: 45px;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.533333px;
  text-decoration: none;
  color: var(--main-text-color-black);
  border-bottom: 1px solid var(--main-text-color-black);
}
.s2-midlle-list__links:hover {
  border-bottom: 8px solid #FA5959;
  color: #FA5959;
}
.s2-features-box__s2-midlle-right-box-1 {
  position: relative;
  width: 445px;
  margin-left: auto;
}
.s2-features-box__s2-midlle-right-box-1::before {
  position: absolute;
  top: -36%;
  left: -288%;
  display: block;
  width: 1065px;
  height: 435px;
  content: "";
  background-image: url("../images/second.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.s2-features-box__s2-midlle-right-box-2 {
  position: relative;
  width: 445px;
  margin-left: auto;
}
.s2-features-box__s2-midlle-right-box-2::before {
  position: absolute;
  top: -36%;
  left: -288%;
  display: block;
  width: 1072px;
  height: 435px;
  content: "";
  background-image: url("../images/third.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.s2-features-box__s2-midlle-right-box-3 {
  position: relative;
  width: 445px;
  margin-left: auto;
}
.s2-features-box__s2-midlle-right-box-3::before {
  position: absolute;
  top: -36%;
  left: -288%;
  display: block;
  width: 1044px;
  height: 435px;
  content: "";
  background-image: url("../images/fourth.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.s2-midlle-left-box__h2 {
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: var(--main-text-color-black);
}
.s2-midlle-left-box__p {
  margin: 0 0 32px 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color-black);
  opacity: 0.5;
}
.s2-midlle-left-box__button {
  display: inline-block;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--main-text-color-white);
  text-decoration: none;
  background-color: var(--main-buttom-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.s3-downloadextension {
  padding: 100px 0 175px 0;
}
.s3-downloadextension__h2andp-box {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.h2andp-box__h2 {
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--main-text-color-black);
}
.h2andp-box__p {
  margin: 0 0 48px 0;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--main-text-color-black);
  opacity: 0.5;
}
.s3-downloadextension__for-position {
  padding: 0 50px 0 50px;
  position: relative;
}
.for-position__list-items-1 {
  width: 280px;
  padding: 50px 24px 24px 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
}
.for-position__list-items-1::before {
  display: block;
  content: "";
  width: 102px;
  height: 100px;
  margin: 0 auto 62px auto;
  background-image: url("../images/chrome.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.for-position__list-items-2 {
  position: absolute;
  top: 13%;
  right: 36%;
  width: 280px;
  padding: 50px 24px 24px 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
}
.for-position__list-items-2::before {
  display: block;
  content: "";
  width: 102px;
  height: 100px;
  margin: 0 auto 62px auto;
  background-image: url("../images/firefox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.for-position__list-items-3 {
  position: absolute;
  top: 26%;
  right: 4%;
  width: 280px;
  padding: 50px 24px 24px 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
}
.for-position__list-items-3::before {
  display: block;
  content: "";
  width: 102px;
  height: 100px;
  margin: 0 auto 62px auto;
  background-image: url("../images/opera.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.list-items__h3 {
  margin: 0 0 6px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
  color: var(--main-text-color-black);
}
.list-items__p {
  position: relative;
  margin: 0 0 50px 0;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: var(--main-text-color-black);
  opacity: 0.5;
}
.list-items__p::after {
  position: absolute;
  top: 56%;
  left: -9.5%;
  display: block;
  content: "";
  width: 332px;
  height: 4px;
  margin-top: 32px;
  margin-bottom: 24px;
  background-image: url("../images/dots.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.list-items__button {
  display: block;
  padding: 10px 36px;
  margin-left: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: var(--main-text-color-white);
  border: 2px solid transparent;
  background-color: var(--main-buttom-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.list-items__button:hover {
  color: #5267DF;
  background-color: #FFFFFF;
  border: 2px solid #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.s4-frequentlyquestions {
  padding: 100px 0px 150px 0px;
}
.s4-frequentlyquestions__h2andp-box {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
}
.h2andp-box__h2 {
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--main-text-color-black);
}
.h2andp-box__p {
  margin: 0 0 56px 0;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--main-text-color-black);
  opacity: 0.5;
}
.s4-frequentlyquestions__detailsandsummary-box {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.detailsandsummary-box__summary {
  padding: 19px 20px 19px 0px;
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--main-text-color-black);
}
.detailsandsummary-box__summary:hover {
  color: #FA5959;
}
.detailsandsummary-box__summary::after {
  display: block;
  content: "";
  width: 26px;
  height: 18px;
  margin-left: auto;
  background-image: url("../images/down-svgrepo-com.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.detailsandsummary-box__details-div {
  margin: 32px 0 30px 0;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--main-text-color-black);
  opacity: 0.75;
}
.s4-frequentlyquestions__button {
  display: block;
  width: 100px;
  padding: 10px 24px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  text-decoration: none;
  color: var(--main-text-color-white);
  background-color: var(--main-buttom-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.s5-stayupto {
  padding: 58px 0px 74px 0px;
  background-color:var(--main-buttom-color);
}
.s5-pandh2-box {
  width: 410px;
  margin-left: auto;
  margin-right: auto;
}
.s5-box__p {
  margin: 0 0 24px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  color: var(--main-text-color-white);
}
.s5-box__h2 {
  margin: 0 0 36px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.1px;
  color: var(--main-text-color-white);
}
.s5-form {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: baseline;
}
.s5-form__input {
  padding: 10px 113px 10px 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: rgba(36, 42, 69, 0.250109);
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 0;
}
.s5-form__input:invalid:not(:focus) ~ .for-invalid{
  border-top: 2px solid #FA5959;
  border-right: 2px solid #FA5959;
  border-bottom: 20px solid #FA5959;
  border-left: 2px solid #FA5959;
  border-radius: 0px 0px 5px 5px;
  opacity: 10;
  color: var(--main-text-color-white);
  background-color: #FA5959;
}
.s5-form__input:invalid:not(:focus) {
  border-top: 2px solid #FA5959;
  border-right: 2px solid #FA5959;
  border-bottom: 2px solid #FA5959;
  border-left: 2px solid #FA5959;
  border-radius: 5px 5px 0px 0px;
}
.s5-form__for-invalid {
  padding-left: 12px;
  padding-right: 67px;
  opacity: 0;
}
.s5-form__input-button {
  width: 200px;
  margin-left: 16px;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: var(--main-text-color-white);

  background-color: #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: 2px solid transparent;
}
.s5-form__input-button:hover {
  background-color: #FFFFFF;
  border: 2px solid #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  color: #FA5959;
}
.footer-bg-color {
  padding: 32px 0px;
  background-color: var(--main-text-color-black);
}
.foot-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot-box__list {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.list__links {
  margin-left: 45px;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: var(--main-text-color-white);
}
.list__links:hover {
  color: #FA5959;
}
.foot-box__social-icons {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svgbu {
  fill: rgba(252, 0, 0, 1);
}



